
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>RegisterPage</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.RegisterPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexPage</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.IndexPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyProperties</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.MyPropertiesPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewProperty</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.ShowPropertyPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewPropertyPage</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.NewPropertyPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdvancedSearchPage</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.AdvancedSearchPage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditPropertyPage</servlet-name>
		<servlet-class>ar.edu.itba.it.paw.web.servlets.EditPropertyPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPropertyPage</servlet-name>
		<url-pattern>/myproperties/edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewPropertyPage</servlet-name>
		<url-pattern>/myproperties/new</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyProperties</servlet-name>
		<url-pattern>/myproperties</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewProperty</servlet-name>
		<url-pattern>/properties/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterPage</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexPage</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdvancedSearchPage</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>ar.edu.itba.it.paw.web.filters.SessionFilter</filter-class>
		<init-param>
			<param-name>excludePatterns</param-name>
			<param-value>(.*/assets/.*|.*/search(/)?|.*/contact(/)?|.*/properties/view(/)?$|.*/index(/)?|.*/register(/)?|.*/login(/)?)</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
